body {
font-family: Roboto, 'Helvetica', sans-serif;
display: flex;
flex-direction: column;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 128px;
    background-color: #1F2937;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
    padding: 0px;
}

.header-cont a {
    text-decoration: none;
    padding: 8px 24px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-cont {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 128px 128px;
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 8px;
}

img {
    max-width: 500px;
    height: fit-content;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.sub-title {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-cont a {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    max-width: 125px;
    max-height: 50px;
    text-decoration: none;
    text-align: center;
}

.info-header {
   font-size: 32px;
   font-weight: 900;
   color: #1F2937;
   text-align: center;
   padding-top: 64px;
   padding-bottom: 64px;
}

.info-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 128px;
    flex: auto;
    padding-left: 256px;
    padding-right: 256px;
}

.info img {
    max-width: 250px;
    height: auto;
    border-radius: 16px;
    border: 4px solid #3882f6;
    margin-bottom: 8px;
}

.info-text{
    max-width: 250px;
    text-align: center;
    color: darkgrey;
}

.quote-cont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 128px 256px;
    gap: 8px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.signature {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}

.action-cont {
    display: flex;
    justify-content: space-between;
    padding: 64px 64px;
    background-color: #3882f6;
    border-radius: 16px;
    margin: 64px 128px;
    align-items: center;
}

.action-header {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    margin-bottom: 8px;
}

.action-call {
    font-size: 18px;
    color: #e5e7eb;
}

.action-cont a {
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 32px;
    max-width: 125px;
    max-height: 50px;
    color:#f9faf8;
    text-align: center;
    text-decoration: none;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    font-size: 16px;
    color: #f9faf8;
    padding-top: 32px;
    padding-bottom: 32px;
}